/* 親要素にFlexboxを使って中央に配置 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    max-width: none;
  }
  
  /* ボタンのベースデザイン */
  .button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* 画面下部に固定 */
    position: fixed;
    bottom: 100px;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 1000;
  }
  
  /* ボタンにマウスを乗せた時 */
  .button:hover {
    background-color: #f06595;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -10px);
  }
  
  /* ボタンを押した時のアニメーション */
  .button:active {
    background-color: #f06595;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, 0);
  }
  
  /* データ表示のスタイル */
  .data-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f3f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    animation: itemExpand 0.8s ease-out forwards;
  }


.explosion {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 165, 0, 0.8);
  border-radius: 50%;
  animation: explodeEffect 0.8s ease-out forwards;
  z-index: 5;
}

.countdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.countdown {
  font-size: 150px;
  color: white;
  animation: zoomFade 1s ease-in-out;

}

.item-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.item-name {
  font-size: 2em; /* 文字サイズを2倍に */
  font-weight: bold; /* 太字にする（オプション） */
  color: #ff6b6b; /* 鮮やかな色を追加（オプション） */
}


h3 {
  color: #333;
}

pre {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  
/* 爆発エフェクトのスタイル */
@keyframes explodeEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* カウントダウンエフェクトのスタイル */
@keyframes zoomFade {
  0% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
  
  /* アイテムの拡大アニメーション */
@keyframes itemExpand {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}